<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"/>
        <li th:text="${user.lastname}"/>
        <li th:if="${user.email}" th:text="${user.email}"/>
        <li th:if="${user.email == null}" th:text="${'No tiene email'}"/>
    </ul>
    <a th:href="@{/list}">Volver al listado</a><br>
    <a th:href="@{'/api/params/foo?msg=' + ${title}}">@{'/api/params/foo?msg=' + ${title}}</a><br>
    <a th:href="@{/api/params/foo(msg='Hola que tal')}">@{/api/params/foo(msg='Hola que tal')}</a><br>
    <a th:href="@{/api/var/baz/Hola que tal}">@{/api/var/baz/Hola que tal}</a><br>
</body>
</html>